@model Restaurant

@{
    ViewBag.Title = Model.Name;
}
<section class="panel panel-default">
    <h1 class="panel-heading">@Model.Name</h1>
    <div class="panel-body">
        <div>
            Id: @Model.Id
        </div>
        <div>
            Cuisine: @Model.Cuisine
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
    </div>
</section>